.sidebar-nav {
  display: block;
  clear: both; /* ensures it starts below floated elements, if any */
  margin-top: 0; /* adjust as needed */
  width: 180px;
  height: 100vh;
  padding-top: 40px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-nav li {
  margin-bottom: 24px;
}

.sidebar-nav a {
  text-decoration: none;
  font-size: 1.1em;
  padding: 8px 16px;
  display: block;
  border-radius: 4px;
  transition: background 0.2s;
}

.sidebar-nav a:hover {
  background: #444;
}
