---
layout: gallery
title: Dark Moods
images:
    - src: images/gallery/dreams/street.avif
      title: Street
      description:
    - src: images/gallery/dreams/me_time.avif
      title: Me Time
      description:
    - src: images/gallery/dreams/pollination_season.avif
      title: Pollination Season
      description:
    - src: images/gallery/dreams/nightlife.avif
      title: Nightlife
      description:
    - src: images/gallery/dreams/yaldbaoth.avif
      title: Yaldbaoth
      description:
---

<div class="gallery-layout">
    {% include gallery_nav.html %}
    <div class="gallery-content">
        {% include gallery_title.html %}
        {% include image_grid.html images=page.images %}
        {% include lightbox.html images=page.images %}
    </div>
</div>
