---
layout: gallery
title: Dark Moods
description: I have been working on a few illustrated short stories / graphic novellas / comics for years. But it is unknown if they will ever be released. Currently I see them as too nihilistic to be shared. Maybe some day.
images:
    - src: images/gallery/dark_moods/IMG_1111.JPG
      title:
      description:
    - src: images/gallery/dark_moods/IMG_2563.JPG
      title:
      description:
    - src: images/gallery/dark_moods/IMG_3360.jpg
      title:
      description:
    - src: images/gallery/dark_moods/IMG_3666.jpg
      title:
      description:
    - src: images/gallery/dark_moods/IMG_7173.jpg
      title:
      description:
    - src: images/gallery/dark_moods/IMG_7270.jpg
      title:
      description:
    - src: images/gallery/dark_moods/IMG_8528.jpg
      title:
      description:
    - src: images/gallery/dark_moods/IMG_9910.jpg
      title:
      description:
---

<div class="gallery-layout">
    {% include gallery_nav.html %}
    <div class="gallery-content">
        {% include gallery_title.html %}
        {% include image_grid.html images=page.images %}
        {% include lightbox.html images=page.images %}
    </div>
</div>
