---
layout: gallery
title: Dreams
description: All of these images were observed inside my dreams or visions.
images:
    - src: images/gallery/dreams/OBE.avif
      title:
      description:
    - src: images/gallery/dreams/melting_witch.avif
      title:
      description:
    - src: images/gallery/dreams/little_stump.avif
      title:
      description:
    - src: images/gallery/dreams/yaldbaoth.avif
      title:
      description:
    - src: images/gallery/dreams/unique.avif
      title:
      description:
    - src: images/gallery/dreams/IMG_2369.JPG
      title:
      description:
    - src: images/gallery/dreams/IMG_8606_2.JPG
      title:
      description:
    - src: images/gallery/dreams/IMG_8702.JPG
      title:
      description:
    - src: images/gallery/dreams/IMG_8826.JPG
      title:
      description:
---

<div class="gallery-layout">
    {% include gallery_nav.html %}
    <div class="gallery-content">
        {% include gallery_title.html %}
        {% include image_grid.html images=page.images %}
        {% include lightbox.html images=page.images %}
    </div>
</div>
