---
layout: gallery
title: Dreams
images:
    - images/gallery/dreams/street.avif
    - images/gallery/dreams/me_time.avif
    - images/gallery/dreams/pollination_season.avif
    - images/gallery/dreams/nightlife.avif
    - images/gallery/dreams/yaldbaoth.avif
---

<div class="gallery-layout">
    {% include gallery_nav.html %}
    <div class="gallery-content">
        {% include gallery_title.html %}
        {% include image_grid.html images=page.images %}
        {% include lightbox.html images=page.images %}
    </div>
</div>
