---
layout: gallery
title: Dreams
description: All of these images were observed inside my dreams or visions.
images:
    - src: images/gallery/dreams/OBE.avif
      title: OBE
      description: Out of Body Experience
    - src: images/gallery/dreams/melting_witch.avif
      title: Melting Witch
      description:
    - src: images/gallery/dreams/little_stump.avif
      title: Little Stump
      description:
    - src: images/gallery/dreams/yaldbaoth.avif
      title: Yaldbaoth
      description:
    - src: images/gallery/dreams/unique.avif
      title: Unique
      description:
---

<div class="gallery-layout">
    {% include gallery_nav.html %}
    <div class="gallery-content">
        {% include gallery_title.html %}
        {% include image_grid.html images=page.images %}
        {% include lightbox.html images=page.images %}
    </div>
</div>
