---
layout: main
title: Home
images:
    - src: images/home/street.avif
      title: Bustling Street
      description: A lively street scene capturing the vibrant energy of the city.
    - src: images/home/me_time.avif
      title: Me Time
      description: A peaceful moment of solitude and reflection.
    - src: images/home/pollination_season.avif
      title: Pollination Season
      description: Flowers in bloom during the peak of pollination season.
    - src: images/home/nightlife.avif
      title: Nightlife
      description: The city comes alive with lights and activity after dark.
    - src: images/home/yaldbaoth.avif
      title: Yaldabaoth
      description: An artistic interpretation of the mythological figure Yaldabaoth.
---

{% include image_grid.html images=page.images %}
{% include lightbox.html images=page.images %}
