---
layout: main
title: Home
images:
    - src: images/home/street.avif
      title: Bustling Street
      description: A lively street scene capturing the vibrant energy of the city.
    - src: images/home/me_time.avif
      title: Me Time
      description: A peaceful moment of solitude and reflection.
    - src: images/home/pollination_season.avif
      title: Pollination Season
      description: Flowers in bloom during the peak of pollination season.
    - src: images/home/nightlife1.avif
      title: Nightlife
      description: The city comes alive with lights and activity after dark.
    - src: images/gallery/dreams/yaldbaoth.avif
      title: Yaldabaoth
      description: An artistic interpretation of the mythological figure Yaldabaoth.
    - src: images/home/hurt_inside_you.avif
      title: Hurt Inside You
      description: A poignant piece reflecting inner turmoil and emotional depth.
    - src: images/home/uproot.avif
      title: Uproot
      description: A striking image symbolizing change and transformation.
    - src: images/home/nightlife2.avif
      title: Nightlife
      description: A vibrant view of the city's nightlife, full of energy and excitement.
    - src: images/home/running.avif
      title: Running
      description: A dynamic shot capturing the essence of movement and freedom.
    - src: images/home/eve.avif
      title: Eve
      description: A serene image representing the essence of femininity and grace.
    - src: images/home/shoes.avif
      title: Shoes
      description: A close-up of shoes, representing journeys and paths taken.
    - src: images/home/nightlife3.avif
      title: Nightlife
      description: Another view of the vibrant nightlife, showcasing the city's energy.
    - src: images/home/dancing_feet.avif
      title: Dancing Feet
      description: A lively capture of feet in motion, celebrating the joy of dance.
    - src: images/home/simulated.avif
      title: Simulated
      description: An abstract piece exploring the concept of simulation and reality.
    - src: images/home/volleyball.avif
      title: Volleyball
      description: A dynamic image of a volleyball game, capturing the spirit of sport.
---

{% include image_grid.html images=page.images %}
{% include lightbox.html images=page.images %}
