---
layout: gallery
title: Painting
images:
  - src: images/gallery/painting/bamboo_witch.jpg
    title: Bamboo Witch
    description: acrylic on board, 2014.
  - src: images/gallery/painting/big_bang.jpg
    title: Big Bang
    description: triptych, acrylic on canvas, 2012.
  - src: images/gallery/painting/dishes.jpg
    title: Community Gothic
    description: Painted during Braziers ACRE residency, acrylic on canvas, 2025.
  - src: images/gallery/painting/eros_generator.jpg
    title: Eros Generator
    description: acrylic on heart shaped canvas, 2024, 30x30cm 
  - src: images/gallery/painting/eskapizm.jpg
    title: Eskapizm
    description: acrylic on board, 2015
  - src: images/gallery/painting/hexagram.png
    title: Hexagram
    description: acrylic on pine panel, 2014
  - src: images/gallery/painting/in_my_dumpling_shop.jpg
    title: In My Dumpling Shoppe
    description: acrylic on canvas, 2023-24
  - src: images/gallery/painting/mural.jpg
    title: Year of the Monkey Mural
    description: private wall in Hong Kong
  - src: images/gallery/painting/philosophers_stone.jpg
    title: Philosopher's Stone
    description: acrylic on canvas, 2024
  - src: images/gallery/painting/pollination_season.jpg
    title: Pollination Season
    description: acrylic on canvas, 2024, 20x30cm
  - src: images/gallery/painting/regenesis.jpg
    title: Regenesis
    description: acrylic on heart shaped canvas, 2024, 30x30cm
  - src: images/gallery/painting/scribe.jpg
    title: Scribe
    description: ink on raw wood panel, 2020
  - src: images/gallery/painting/simon.jpg
    title: Simon in the Cedar Forest
    description: Painted at Braziers ACRE residency. acrylic on canvas, 2025, 30x30cm
  - src: images/gallery/painting/siren_call.jpg
    title: Siren Call
    description: acrylic on star shaped canvas, 2024, 20x20cm
  - src: images/gallery/painting/vertigo.jpg
    title: Vertigo
    description: acrylic on canvas, 2024, 20x30cm
  - src: images/gallery/painting/alice_with_a_book_on_her_head.jpg
    title: Alice With A Book On Her Head
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025, 27x27cm
  - src: images/gallery/painting/amber_at_the_festival.jpg
    title: Amber At The Festival
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025, 20x30cm
  - src: images/gallery/painting/apple_gothic.jpg
    title: Apple Gothic
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,30x40cm
  - src: images/gallery/painting/cat_mia.jpg
    title: Cat. Mia
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025, 27x27cm
  - src: images/gallery/painting/cat_torvi.jpg
    title: Cat. Torvi
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,27x27cm
  - src: images/gallery/painting/confidence.jpg
    title: Confidence
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025, 20x30cm
  - src: images/gallery/painting/ghost_of_marianne_faithfull.jpg
    title: Ghost Of Marianne Faithfull
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,30x40cm
  - src: images/gallery/painting/harry.jpg
    title: Harry
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,20x30cm
  - src: images/gallery/painting/heathers_wheel.jpg
    title: Heather's Wheel
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,20x30cm
  - src: images/gallery/painting/human_trunk.jpg
    title: Human Trunk
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,15x25cm
  - src: images/gallery/painting/tree_trunk.jpg
    title: Tree Trunk
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,15x25cm
  - src: images/gallery/painting/lonesome_no_more.jpg
    title: Lonesome No More
    description:Painted at Braziers ACRE residency, acrylic on canvas board, 2025, 30x40cm
  - src: images/gallery/painting/maras_mystery.jpg
    title: Mara's Mystery
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,17x27cm
  - src: images/gallery/painting/pauline_reading.jpg
    title: Pauline Reading
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,20x30cm
  - src: images/gallery/painting/sally_the_green.jpg
    title: Sally The Green
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025,23x30cm
  - src: images/gallery/painting/sam_7am.jpg
    title: Sam 7am
    description: Painted at Braziers ACRE residency, acrylic on canvas board, 2025,23x30cm
  - src: images/gallery/painting/sleepy_tea.jpg
    title: Sleepy Tea
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025, 20x30cm
  - src: images/gallery/painting/sophys_story.jpg
    title: Sophy's Story
    description: Painted at Braziers ACRE residency, acrylic on canvas, 2025, 30x40cm
  - src: images/gallery/painting/in_the_spa.jpg
    title: In The Spa
    description: diptych, acrylic on canvas, 2024

---

<div class="gallery-layout">
    {% include gallery_nav.html %}
    <div class="gallery-content">
        {% include gallery_title.html %}
        {% include image_grid.html images=page.images %}
        {% include lightbox.html images=page.images %}
    </div>
</div>
