<div id="myModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <div class="modal-content">
      <!-- Previous control -->
      <div class="chevron">
        <a class="prev" onclick="plusSlides(-1)">
          <img src="/images/icons/chevron.png" alt="Previous" style="transform: scaleX(-1);">
        </a>
      </div>
      
      <div class="slide-container">
        <!-- Full-width images with number text -->
          {% for image in include.images %}
          <div class="slides">
              <img src={{ image }}>
          </div>
          {% endfor %}
          <!-- Caption text -->
          <div class="caption-container">
            <h1>TEST</h1>
            <p>This is a decription</p>
          </div>
      </div>

      <!-- Next control -->
      <div class="chevron">
          <a class="next" onclick="plusSlides(1)">
              <img src="/images/icons/chevron.png" alt="Next">
          </a>
      </div>

  </div>
</div>